@media  screen and (min-width:200px) {
    .navbar {
        justify-content: space-evenly;
    }
    .h1 {
        font-size: 7px;
    }
    .search {
       display: none;

    }
    .Phone {
       display: none;
    }
    .log{
        display: none;
    }
    .register {
        padding: 2px 1px;
        color: white;
        background-color: #48AFFF;
        margin: 0px 0px 0px 9px;
        cursor: pointer;
        border: 1px solid white;
        border-radius: 5px 5px 5px 5px;
    }
    .header{
        display: none;
    }
    .h2{
        font-size: 15px;
    }
    .container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        gap: 5px;
    
    }
    .main {
        background-color: white;
        padding: 20px;
        margin-top: 1rem;
        border-radius: 20px 10px 20px 10px;
    
    } 
    .image {
        width: 5rem;
        height: 5rem;
    }
.logimg{
    width: 100px;
}
.searchlog{
    width: 90%;
}
.loghtml {
    background-color: white;
    background-size: 100% 100%;
    width:100px;
    /* border-radius: 20px 10px 20px 10px    */
}
.loginbtn {
    width: 100px;
    height: 2rem;
    margin-top: 2rem;
    background-color: hsl(192, 90%, 64%);
    border-color: white;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 4rem;
}

}
@media screen and (min-width:300px) {
    .navbar {
        justify-content: space-evenly;
    }

    .logimg{
        width: 100px;
    }

    .h1 {
        font-size: 7px;
    }
    .h2{
        font-size: 20px;
    }

    .Phone {
        background-color: white;
        padding: 1px;
        margin-top: 1px;
        color: #48AFFF;
        position: absolute;
        border-radius: 0px 0px 0px 0px;
        font-size: 18px;
    }
    .log{
    
        display: block;

        width: 50px;
        height: 20px;
        padding: 0px;
        border-radius: black;
        border: 1px solid white;
        color: #48AFFF;
        background-color: white;
        cursor: pointer;
        font-size: 10px;
        margin-top: 2px;
align-items: center;
        border-radius: 2em / 5em;
    }
    .header{
        display: none;
    }

    .register {
        padding: 2px 1px;
        color: white;
        background-color: #48AFFF;
        margin: 0px 0px 0px 9px;
        cursor: pointer;
        border: 1px solid white;
        border-radius: 5px 5px 5px 5px;
    }
    .logimg{
        width: 10rem;
    }
    .searchlog{
        width: 9rem;
    }
    .loghtml {
        background-color: white;
        /* background-size: 10rem; */
        width:10rem;
        /* border-radius: 20px 10px 20px 10px    */
    }
    .loginbtn {
        width: 100px;
        height: 2rem;
        margin-top: 2rem;
        background-color: hsl(192, 90%, 64%);
        border-color: white;
        cursor: pointer;
        border-radius: 5px 5px 5px 5px;
        margin-bottom: 4rem;
    }
}

@media screen and (min-width:400px) {
    .search {

        width: 5rem;
        height: 25px;
        border-radius: 5px 0px 0px 5px;
        border-color: aliceblue;

    }

    .h1 {
        font-size: 9px;
    }

    .Phone {
        background-color: white;
        padding: 1px;
        margin-top: 1px;
        color: #48AFFF;
        position: absolute;
        border-radius: 0px 0px 0px 0px;
        font-size: 25px;
    }


    

    .register {
        padding: 2px 1px;
        color: white;
        background-color: #48AFFF;
        margin: 0px 0px 0px 9px;
        cursor: pointer;
        border: 1px solid white;
        border-radius: 5px 5px 5px 5px;
    }
}

@media screen and (min-width:500px) {
    

    .h1 {
        font-size: 15px;
    }
    .header{
    display: block;
    display: flex;
    }
    .h2{
        font-size: 30px;
    }

   

    .log{
    
        display: block;

        width: 80px;
        height: 30px;
        padding: 0px;
        border-radius: black;
        border: 1px solid white;
        color: #48AFFF;
        background-color: white;
        cursor: pointer;
        font-size: 10px;
        margin-top: 5px;

        border-radius: 2em / 5em;
    }
    .container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        gap: 5px;
    
    }
    .main {
        background-color: white;
        padding: 20px;
        margin-top: 1rem;
        border-radius: 20px 10px 20px 10px;
    
    } 
    .image {
        width: 15rem;
        height: 15rem;
    }

    .register {
        width: 80px;
        height: 30px;
        padding: 2px 1px;
        color: white;
        background-color: #48AFFF;
        margin: 0px 0px 0px 9px;
        margin-top: 5px;
        cursor: pointer;
        border: 1px solid white;
        border-radius: 5px 5px 5px 5px;
    }
    .logimg{
        width: 20rem;
    }
    .searchlog{
        width: 9rem;
    }
    .loghtml {
        background-color: white;
        /* background-size: 10rem; */
        width:20rem;
        /* border-radius: 20px 10px 20px 10px    */
    }
    .loginbtn {
        width: 100px;
        height: 2rem;
        margin-top: 2rem;
        background-color: hsl(192, 90%, 64%);
        border-color: white;
        cursor: pointer;
        border-radius: 5px 5px 5px 5px;
        margin-bottom: 4rem;
    }
}

@media screen and (min-width:650px) {
    .search{
        display: block;
        display: flex;
        position: relative;
        width: 15rem;
        border-radius: 5px 5px 5px 5px;
    }
    .Phone {
        display: none;
      
    }
    .log{

        width: 60px;
        height: 30px;
        padding: 0px;
        border-radius: black;
        border: 1px solid white;
        color: #48AFFF;
        background-color: white;
        cursor: pointer;
        font-size: 10px;
        margin-top: 5px;

        border-radius: 2em / 5em;
    }
    .image {
        width: 25rem;
        height:  25rem;
    }
    .logimg{
        width: 30rem;
    }
    .searchlog{
        width: 15rem;
    }
    .loghtml {
        background-color: white;
        /* background-size: 10rem; */
        width:30rem;
        /* border-radius: 20px 10px 20px 10px    */
    }
    .loginbtn {
        width: 10rem;
        height: 2rem;
        margin-top: 2rem;
        background-color: hsl(192, 90%, 64%);
        border-color: white;
        cursor: pointer;
        border-radius: 5px 5px 5px 5px;
        margin-bottom: 4rem;
    }
}

@media screen and (min-width:1000px) {
    
   
    .search {
        margin-top: 5px;
        width: 25rem;
        height: 30px;
        border-radius: 5px 0px 0px 5px;
        border-color: aliceblue;
position: relative;
    }

    .h1 {
        font-size: 25px;
    }

    .Phone {
        margin-top: 5px;

        background-color: white;
        padding: 1px;
        color: #48AFFF;
        position: absolute;
        border-radius: 0px 5px 0px 5px;
        font-size: 28px;
    }

    .log{
display: hidden;
        width: 100px;
        height: 40px;
        padding: 0px;
        border-radius: black;
        border: 1px solid white;
        color: #48AFFF;
        background-color: white;
        cursor: pointer;
        font-size: 10px;
        margin-top: 1px;

        border-radius: 2em / 5em;
    }

    .register {
        padding: 2px 1px;
        color: white;
        background-color: #48AFFF;
        margin: 0px 0px 0px 9px;
        cursor: pointer;
        border: 1px solid white;
        border-radius: 5px 5px 5px 5px;
    }
}
@media screen and (min-width:1200px) {
 
     .search {
        border: 1px solid white;
    align-items: center;
    border-radius: 5px 0px 0px 5px;
    width: 31rem;
    height: 30px; 
    color: black;
    }

    .h1 {
        font-size: 20px;
    }

    .Phone {
        margin-top: 5px;

        background-color: white;
        padding: 1px;
        color: #48AFFF;
        position: absolute;
        border-radius: 0px 5px 0px 5px;
        font-size: 28px;
    }

    .log{
display: hidden;
        width: 100px;
        height: 40px;
        padding: 0px;
        border-radius: black;
        border: 1px solid white;
        color: #48AFFF;
        background-color: white;
        cursor: pointer;
        font-size: 10px;
        margin-top: 1px;

        border-radius: 2em / 5em;
    }

    .register {
        padding: 2px 1px;
        color: white;
        background-color: #48AFFF;
        margin: 0px 0px 0px 9px;
        cursor: pointer;
        border: 1px solid white;
        border-radius: 5px 5px 5px 5px;
    }   
}
@media screen and (min-width:1600px) {
    
    .search {
        border: 1px solid white;
    margin-top: 5px;
    border-radius: 5px 0px 0px 5px;
    width: 28rem;
    height: 25px; 
    color: black;

    }

    .h1 {
        font-size: 30px;
     } 

    .Phone {
        margin-top: 5px;

        background-color: white;
        padding: 5px;
        color: #48AFFF;
        position: absolute;
        border-radius: 0px 5px 0px 5px;
        font-size: 28px;
    }

    .log{

        width: 100px;
        height: 40px;
        padding: 0px;
        border-radius: black;
        border: 1px solid white;
        color: #48AFFF;
        background-color: white;
        cursor: pointer;
        font-size: 20px;
        margin-top: 1px;

        border-radius: 2em / 5em;
    }

    .register {
        padding: 2px 1px;
        color: white;
        background-color: #48AFFF;
        margin: 0px 0px 0px 9px;
        cursor: pointer;
        border: 1px solid white;
        border-radius: 5px 5px 5px 5px;
    } 
}