* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: rgb(230, 230, 230);
}

.navbar {
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: #48AFFF;
    padding: 10px;
    color: white;
}

.search {
    border: 1px solid white;
    margin-top: 5px;
    border-radius: 5px 0px 0px 5px;
    width: 31rem;
    height: 30px;
    color: black;
    /* height: 40px;
    width: 100%; */
}

.Phone {
    background-color: white;
    padding: 0px;
    margin-bottom: 1px;
    color: #48AFFF;
    /* position: absolute; */
    /* border-radius: 0px 0px 0px 0px; */
    font-size: 28px;
}

.flex {
    display: flex;
    /* position:absolute; */
    /* position: relative; */
    /* overflow: hidden; */
    /* position: fixed; */
}
.h2{
    padding: 1rem;
    font-size: 2rem;
}

.log {
    width: 80px;
    height: 30px;
    padding: 20px;
    border-radius: black;
    border: 1px solid white;
    color: #48AFFF;
    background-color: white;
    cursor: pointer;
    font-size: 10rem;
    border-radius: 2em / 5em;
}

.log:hover {
    background-color: #48AFFF;
    color: white;
}

.register {
    padding: 8px 5px;
    color: white;
    background-color: #48AFFF;
    margin: 0px 0px 0px 9px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px 5px 5px 5px;
}

.btn {
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 10px 20px 20px 10px;
    cursor: pointer;

}

.btn:hover {
    background-color: #48AFFF;
    transition: 2ms;
}

.header {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.m-child {
    background-color: white;
    /* background-size: 100% 100%;
    padding: 20px; */
    /* margin-top: 2rem; */
}
.image{
    width: 20rem;
    height: 20rem;
}
.container{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        width: auto;
    
}
.main{
    background-color: white;
    background-size: 100% 100%;
    padding: 20px;
margin-top: 2rem;
    border-radius: 20px 10px 20px 10px; 
}
.addbtn{
    width: 8rem;
    height: 4rem;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px 30px 30px 5px;
    background-color: white;
    transition: 2ms;
    cursor: pointer;
    border-color: white;
}
.addbtn:hover {
    background-color: #48AFFF;
    color: white;
   
}
.addbtns{
    width: 8rem;
    height: 4rem;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px 30px 30px 5px;
    background-color: white;
    transition: 2ms;
    cursor: pointer;
    border-color: white;
    text-align: center;
    margin-top: 2rem;
}
.addbtns:hover {
    background-color: #ff0000;
    color: white;
   
}

.add{
    width: 4rem;
    height: 2rem;
    padding: 2px;
    font-size: 10px;
    cursor: pointer;
}